.top_image {
    max-width: 1200px;
    width: 93%;
} 

.intro {
    max-width: 1080px;
    width: 90%;
}

.paragraph {
    background-color: #F7F5F3;
}

.paragraph p {
    max-width: 1080px;
    width: 90%;
}

.programs {
    max-width: 1200px;
    width: 95%;
}

.programs_filter {
    width: 90%;
    border-radius: 15px;
    background-color: #eff3f9;
}

.programs_filter-button {
    border-radius: 20px;
    background-color: #FFFFFF;
}

.programs_filter .active {
    color: #FFFFFF;
    background-color: #396D00;
}

.programs_filter .active:hover {
    opacity: 0.85;
}

.mini_programs-items {
    max-width: 1080px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon_load {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    animation: rotation 2s infinite linear;
    display: none;
}

/* responsive */

/* for tablet */
@media screen and (min-width:768px) and (max-width: 1023px){
    .intro .intro_image {
        height: 250px;
    }

    .intro .intro_text-title {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

/* for smartphone */
@media screen and (min-width:640px) and (max-width: 767px){
    .top_image {
        display: none;
    }

    .intro .intro_image {
        height: 200px;
    }

    .intro .intro_text-title {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}


