.footer {
  background-color: #002800;
  width: 100%;
  padding: 65px 100px 50px 100px;
}

.footer-content-1,
.footer-content-2,
.footer-content-3 {
  width: 33.3333%;
  font-size: 22px;
  color: #cecece;
}

.footer-content p {
  padding: 3px 0;
}

.footer-content .footer-content-1,
.footer-content-2 p:hover {
  cursor: pointer;
}

.footer-content-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.icon-footer {
  color: #cecece;
  width: 25px;
  height: 22px;
  margin-right: 8px;
}

.footer-line {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
}

.footer-tile-nav {
  color: #cecece;
  font-size: 22px;
}

#footer-title-line-right {
  padding-right: 40px;
  margin-right: 40px;
  border-right: 2px #cecece solid;
}

@media (min-width: 965px) and (max-width: 1980px) {
  .footer-content-1,
  .footer-content-2,
  .footer-content-3 {
    font-size: 18px;
    width: 90%;
  }

  .footer-content-title {
    font-size: 25px;
  }

  .footer-tile-nav {
    font-size: 18px;
    margin-top: 20px;
  }
  .footer-content {
    margin-bottom: 20px;
    width: 90%;
  }
}

@media (min-width: 700px) and (max-width: 965px) {
  .footer-content-3 {
    display: none;
  }
  .footer-content-1,
  .footer-content-2 {
    width: 90%;
    font-size: 14px;
  }

  .footer-content-title {
    font-size: 14px;
  }

  .footer-tile-nav {
    font-size: 14px;
    margin-top: 20px;
  }

  #footer-title-line-right {
    padding-right: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 700px) {
  .footer-content,
  .footer-tile-nav {
    flex-direction: column;
  }
  #footer-title-line-right {
    border-right: none;
  }
  .footer-content-1,
  .footer-content-2,
  .footer-line,
  .footer-tile-nav {
    margin-bottom: 30px;
    font-size: 15px;
    width: 100%;
  }

  .footer-content-title {
    font-size: 20px;
  }
}
