.sponsor {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sponsor .div-2 {
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.sponsor .overlap-2 {
  height: 51%;
  left: 11%;
  position: absolute;
  top: 29%;
  width: 80%;
}

.sponsor .section {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sponsor .text-wrapper-14 {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "Adamina", Helvetica;
  font-size: 2.08vw;
  font-weight: 400;
  left: 29.86%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -0.06%;
}

.sponsor .group-10 {
  height: 3.99%;
  left: 0;
  position: absolute;
  top: 3.38%;
  width: 79.44%;
}

.sponsor .overlap-group-3 {
  height: 2.68%;
  left: 0;
  position: absolute;
  top: 0;
  width: 79.29%;
}

.sponsor .p {
  color: #000000;
  font-family: "Adamina", Helvetica;
  font-size: 2.08vw;
  font-weight: 400;
  left: 1.18%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 77.92%;
}

.sponsor .overlap-group-wrapper {
  height: 4.72%;
  left: 27.92%;
  position: absolute;
  top: 46.92%;
  width: 21.11%;
}

.sponsor .overlap-3 {
  background-color: #396d00;
  border-radius: 1.33%;
  height: 4.72%;
  position: relative;
  width: 20.97%;
}

.sponsor .icon-award {
  height: 5.06%;
  left: 35.42%;
  position: absolute;
  top: 20.89%;
  width: 4.44%;
}

.sponsor .group-11 {
  height: 6.91%;
  left: 3.33%;
  position: absolute;
  top: 35.42%;
  width: 70%;
}

.sponsor .group-12 {
  height: 11.11%;
  left: 6.11%;
  position: absolute;
  top: 41.67%;
  width: 52.22%;
}

.sponsor .overlap-4 {
  border-radius: 1.33%;
  height: 6.91%;
  left: 51.53%;
  position: absolute;
  top: 0;
}

.sponsor .overlap-5 {
  height: 10.97%;
  left: 23.19%;
  position: absolute;
  top: 0.24%;
  width: 24.86%;
}